
[*.cs]
indent_style = space
indent_size = 4
tab_width = 2

[*]

# Microsoft .NET properties
csharp_new_line_before_members_in_object_initializers = false
csharp_preferred_modifier_order = internal, protected, private, public, file, new, static, sealed, virtual, abstract, override, readonly, extern, unsafe, volatile, async, required:suggestion
csharp_preserve_single_line_blocks = true
csharp_space_after_cast = true
dotnet_style_parentheses_in_arithmetic_binary_operators = never_if_unnecessary:none
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity:none
dotnet_style_parentheses_in_relational_binary_operators = never_if_unnecessary:none

# ReSharper properties
resharper_arguments_skip_single = true
resharper_blank_lines_after_block_statements = 0
resharper_blank_lines_around_auto_property = 0
resharper_blank_lines_around_single_line_invocable = 0
resharper_blank_lines_around_single_line_type = 0
resharper_braces_for_for = required
resharper_braces_for_ifelse = not_required_for_both
resharper_braces_for_using = not_required
resharper_braces_redundant = false
resharper_continuous_indent_multiplier = 1
resharper_csharp_blank_lines_around_field = 0
resharper_csharp_blank_lines_around_invocable = 0
resharper_csharp_max_line_length = 135
resharper_csharp_remove_blank_lines_near_braces_in_declarations = false
resharper_csharp_wrap_ternary_expr_style = wrap_if_long
resharper_instance_members_qualify_declared_in = 
resharper_keep_existing_enum_arrangement = false
resharper_max_initializer_elements_on_line = 2
resharper_parentheses_non_obvious_operations = none, shift, bitwise_and, bitwise_exclusive_or, bitwise_inclusive_or, bitwise
resharper_parentheses_redundancy_style = remove
resharper_parentheses_same_type_operations = true
resharper_place_expr_method_on_single_line = if_owner_is_single_line
resharper_place_simple_embedded_statement_on_same_line = if_owner_is_single_line
resharper_wrap_after_primary_constructor_declaration_lpar = false
resharper_wrap_arguments_style = wrap_if_long
resharper_wrap_chained_binary_expressions = wrap_if_long
resharper_wrap_object_and_collection_initializer_style = chop_if_long
resharper_wrap_primary_constructor_parameters_style = wrap_if_long
